---
import PrimaryButton from '@components/common/PrimaryButton.astro';
import SectionInTitle from '@components/toppage/SectionInTitle.astro';
import SectionInLead from '@components/toppage/SectionInLead.astro';
import Image from 'astro/components/Image.astro';
import { featuredCulture } from '@data/cultureData';
---

<section id="culture">
  <div class="section-title-wrapper">
    <SectionInTitle largeTitle="働" title="く環境" enTitle="CULTURE" />
  </div>
  <div class="culture-wrapper">
    {
      featuredCulture.map((item) => (
        <div class="culture-item">
          <Image
            src={item.image}
            alt={item.title}
            width={item.image.width}
            height={item.image.height}
            format="webp"
          />
          <p>{item.title}</p>
        </div>
      ))
    }
  </div>
  <div class="section-lead-wrapper">
    <SectionInLead
      subTitle="働く環境と福利厚生"
      title="安心と挑戦を両立させる<br class='sp'>制度・サポート"
      description="平均残業 8.2h／月<br>有休取得率 99%<br>社員寮 個室／Wi-Fi完備"
    />
  </div>
  <div class="btn-wrapper">
    <PrimaryButton href="#" title="ユニークな働く環境を見る" />
  </div>
</section>

<style lang="scss">
  @import '@styles/functions.scss';
  @import '@styles/mixins.scss';

  section#culture {
    background-color: #d8edf7;
    padding: spx(60) spx(20);
    @include tablet-up {
      padding: spx(60) * 0.75 spx(20) * 0.75;
    }
    @include desktop-up {
      padding: ppx(100) ppx(160);
    }
  }

  .culture-wrapper {
    display: flex;
    flex-flow: column;
    width: max-content;
    margin-inline: auto;
    gap: spx(40);
    margin-top: spx(40);
    padding: 0 spx(20);
    @include tablet-up {
      gap: spx(40) * 0.75;
      margin-top: spx(40) * 0.75;
      padding: 0 spx(20) * 0.75;
    }
    @include desktop-up {
      flex-flow: row;
      gap: ppx(33);
      margin-top: ppx(65);
      padding: 0 ppx(25);
    }
    .culture-item {
      position: relative;
      width: max-content;
      img {
        display: block;
        width: spx(300);
        height: spx(225);
        object-fit: cover;
        box-shadow: 4px 4px 0px 0px #59a1c0;
        @include tablet-up {
          width: spx(300) * 0.75;
          height: spx(225) * 0.75;
        }
        @include desktop-up {
          width: ppx(350);
          height: ppx(262.5);
        }
      }

      p {
        color: #fff;
        font-size: spx(12);
        font-weight: 700;
        line-height: 140%;
        background-color: #054965;
        padding: spx(8) spx(20);
        max-width: spx(190);
        position: absolute;
        top: spx(10);
        left: spx(-10);

        @include tablet-up {
          font-size: spx(12) * 0.75;
          max-width: spx(190) * 0.75;
          padding: spx(8) * 0.75 spx(20) * 0.75;
          top: spx(10) * 0.75;
          left: spx(-10) * 0.75;
        }

        @include desktop-up {
          font-size: ppx(14);
          max-width: ppx(220);
          padding: ppx(8) ppx(20);
          top: ppx(20);
          left: ppx(-20);
        }
      }
    }
  }
  .section-lead-wrapper {
    padding: 0 spx(20);
    margin-top: spx(40);
    @include tablet-up {
      padding: 0 spx(20) * 0.75;
      margin-top: spx(40) * 0.75;
    }
    @include desktop-up {
      padding: 0 ppx(100);
      margin-top: ppx(80);
    }
  }
  .btn-wrapper {
    margin-top: spx(60);
    padding: 0 spx(20);
    width: max-content;
    margin-inline: auto;
    @include tablet-up {
      margin-top: spx(60) * 0.75;
      padding: 0 spx(20) * 0.75;
    }
    @include desktop-up {
      margin-top: ppx(25);
      padding: 0 ppx(100);
      width: 100%;
    }
  }
</style>
