---
interface Props {
  subTitle: string;
  title: string;
  description: string;
  variant?: 'default' | 'white'; // バリアントを追加
  textColor?: string; // テキストカラーをカスタマイズ可能に
}

// デフォルトカラー設定
const defaultColors = {
  default: {
    text: '#054965',
  },
  white: {
    text: '#fff',
  },
};

const {
  subTitle,
  title,
  description,
  variant = 'default',
  textColor,
}: Props = Astro.props;

// バリアントに基づいてテキストカラーを設定
const finalTextColor = textColor || defaultColors[variant]?.text || '#054965';
---

<div
  class={`section-lead ${variant}`}
  style={`--text-color: ${finalTextColor};`}
>
  <p class="sub-title">{subTitle}</p>
  <h3 set:html={title} />
  <p class="description" set:html={description} />
</div>

<style lang="scss">
  @import '@styles/functions.scss';
  @import '@styles/mixins.scss';

  .section-lead {
    &.default {
      .sub-title,
      h3,
      .description {
        color: var(--text-color, #054965);
      }
    }

    &.white {
      .sub-title,
      h3,
      .description {
        color: var(--text-color, #fff);
      }
    }
    .sub-title {
      font-size: spx(14);
      font-weight: 500;
      line-height: 100%;

      @include tablet-up {
        font-size: spx(14) * 0.75;
      }

      @include desktop-up {
        color: #054965;
        font-family: 'Zen Kaku Gothic New';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 20px */
      }
    }
    h3 {
      font-size: spx(20);
      font-weight: 700;
      line-height: 140%;
      margin-top: spx(12);
      margin-bottom: spx(20);

      @include tablet-up {
        font-size: spx(20) * 0.75;
        margin-top: spx(12) * 0.75;
        margin-bottom: spx(20) * 0.75;
      }

      @include desktop-up {
        font-size: ppx(32);
        margin-top: ppx(6);
        margin-bottom: ppx(20);
      }
    }
    .description {
      color: #054965;
      font-size: spx(14);
      font-weight: 500;
      line-height: 140%;
      word-break: auto-phrase;

      @include tablet-up {
        font-size: spx(14) * 0.75;
      }

      @include desktop-up {
        font-size: ppx(18);
      }
    }
  }
</style>
