---
import MySiteLayout from '@layouts/MySiteLayout.astro';
import LowerPageHeader from '@components/common/LowerPageHeader.astro';
import { getCollection } from 'astro:content';
import NewspageDetail from '@components/news/NewspageDetail.astro';
import PrimaryButton from '@components/common/PrimaryButton.astro';

export async function getStaticPaths() {
  const posts = await getCollection('news');
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const posts = await getCollection('news');
const post = posts.find((p) => p.slug === slug);
if (!post) {
  throw new Error(`Post not found: ${slug}`);
}
const { Content } = await post.render();
---

<MySiteLayout>
  <LowerPageHeader
    pageTitleEn="News"
    pageTitleJa="お知らせ"
    pageName={post.data.title}
  />
  <NewspageDetail
    title={post.data.title}
    date={post.data.date.toString()}
    category={post.data.category}
    Content={Content}
  />
  <div class="news-detail-button">
    <PrimaryButton title="お知らせ一覧" href="/news" />
  </div>
</MySiteLayout>

<style lang="scss">
  @import '@styles/functions.scss';
  @import '@styles/mixins.scss';
  .news-detail-button {
    display: flex;
    justify-content: center;
    margin-bottom: spx(60);
    @include tablet-up {
      margin-bottom: spx(60) * 0.75;
    }
    @include desktop-up {
      margin-bottom: ppx(100);
    }
  }
</style>
