---
interface Props {
  href?: string;
  className?: string;
  title?: string;
  variant?: 'default' | 'white'; // バリアントを追加
  position?: 'left' | 'center';
  width?: 'full' | 'fit';
}

// デフォルトスタイル設定
const defaultStyles = {
  default: {
    background: 'linear-gradient(96deg, #054965 0.03%, #59a1c0 99.97%)',
    textColor: '#fff',
  },
  white: {
    background: '#fff',
    textColor: '#054965',
  },
};

const {
  href = '#',
  className = '',
  title = '',
  variant = 'default',
  position = 'left',
  width = 'fit',
}: Props = Astro.props;

// バリアントに基づいてスタイルを設定
const buttonStyle = defaultStyles[variant] || defaultStyles.default;
---

<a
  href={href}
  class={`primary-btn ${variant} ${className} ${position} ${width}`}
  style={`--button-bg: ${buttonStyle.background}; --text-color: ${buttonStyle.textColor};`}
>
  <span>{title}</span>
</a>

<style lang="scss">
  @import '@styles/functions.scss';
  @import '@styles/mixins.scss';

  .primary-btn {
    display: grid;
    place-items: center;
    width: max-content;
    height: max-content;
    padding: spx(16);
    background: var(
      --button-bg,
      linear-gradient(96deg, #054965 0.03%, #59a1c0 99.97%)
    );
    text-decoration: none;

    @include tablet-up {
      padding: spx(16) * 0.75;
    }

    @include desktop-up {
      padding: ppx(16);
    }
    span {
      display: block;
      color: var(--text-color, #fff);
      font-size: spx(16);
      font-weight: 500;
      line-height: 100%;

      @include tablet-up {
        font-size: spx(16) * 0.75;
      }

      @include desktop-up {
        font-size: ppx(16);
      }
    }
    &.center {
      margin-inline: auto;
    }
    &.full {
      width: 100%;
    }
    &.fit {
      width: max-content;
    }
  }
</style>
